button {
  background-color: transparent;
  border: 0;
}
.hero-phone-btn {
  background-color: rgb(69, 182, 69) !important;
}
.btn {
  display: flex;
  border-radius: 100px;
  padding-block: 12px;
  padding-inline: 24px;
  background-color: var(--primary-clr);
  color: var(--white);
  width: min(100%, 220px);
  text-transform: uppercase;
  font-weight: 500;
  justify-content: center;
  gap: 8px;
  align-items: center;
  outline: 2px solid var(--white);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.171);
}
/* back to top */
.back-to-top-btn {
  background-color: var(--black);
  color: var(--white);
  border-radius: 100vmax;
  aspect-ratio: 1;
  width: 50px;
  position: fixed;
  bottom: 1.7rem;
  right: 1rem;
  border: 2px solid hsl(0, 0%, 16%);
  transition: 0.2s;
  display: grid;
  place-items: center;
  z-index: 5;
  cursor: pointer;
}
.back-to-top-btn:hover {
  background-color: hsl(0, 0%, 7%);
}
.back-to-top-btn[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}
.back-to-top-btn[data-visible="true"] {
  opacity: 1;
  pointer-events: visible;
}
