.kontakt-card {
  background-color: hsl(207, 58%, 63%);
  border-radius: 16px;
  padding: 4rem;
  aspect-ratio: 2/1;
  width: 300px;
  display: grid;
  place-items: center;
  outline: 1px solid hsl(207, 58%, 63%);
  outline-offset: 2px;
  margin: auto;
  transition: 0.8s;
}
.kontakt-card:hover {
  scale: 1.1;
  box-shadow: 0 0 16px rgb(10, 80, 149);
}
.kontakt-card img {
  width: 100px;
}
